body, html {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  background: #aaa;
}


md-list-item.md-2-line .md-list-item-text h3, md-list-item.md-2-line>.md-no-style .md-list-item-text h3, md-list-item.md-3-line .md-list-item-text h3, md-list-item.md-3-line>.md-no-style .md-list-item-text h3 {
  font-size: 30px;
  font-weight: bolder;
}

md-list-item.md-2-line .md-list-item-text h4, md-list-item.md-2-line>.md-no-style .md-list-item-text h4, md-list-item.md-3-line .md-list-item-text h4, md-list-item.md-3-line>.md-no-style .md-list-item-text h4 {
  font-size: 28px;
}
md-list-item.md-2-line .md-list-item-text h5, md-list-item.md-2-line>.md-no-style .md-list-item-text h5, md-list-item.md-3-line .md-list-item-text h5, md-list-item.md-3-line>.md-no-style .md-list-item-text h5 {
  font-size: 20px;
}
/*.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: #FFB74D;*/
}
md-button {
  border: 1px, solid #ff9800;
}

.instructions .container h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 42px;
  font-weight: 600;
  color: #FF9800;
  width: 100%;
}

.instructions {
  background-color: #333;
  /*color: #8a4db3;*/
  padding: 15px;
  width: 100%;
}

#entryForm {
  margin-top: 8px;
}

#container {
  margin-top: 8px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #8f8f8f;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #eee;
  width: 100%;
  border-radius: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #030303;
  font-size: 28px;
  text-shadow: 0px 1px #bbb;
  text-align: center;
  padding: 10px 6px;
  text-decoration: none;
  background-color: #888;
  border-radius: 34px;
}

/* Change the link color to #eee on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
  text-shadow: 0px 1px #8a4db3;
}
.add{
  color: #030303;
  font-size: 18px;
  text-shadow: 0px 1px #bbb;
  text-align: center;
  padding: 1px 2px;
  text-decoration: none;
  background-color: #888;
  border-radius: 34px;
}
.lead {
  -ms-transform: rotate(-9deg); /*IE 9*/
    -webkit-transform: rotate(-9deg); /*Chrome, Safari, Opera*/
    transform: rotate(-9deg);
    float: right;
    font-family: 'Fredericka the Great', cursive;
    color: #FF9800;
    font-weight: bolder;
}
.questions{
  color: #bbb;
  text-shadow: 1px 1px 8px #Ff9800;
}
#logo{
  float: right;
  width: 100px;
}
.table{
  width: 100%;
  margin: 0;
}
.space {
  background-color: #FFB74D;
}
md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
  background-color: #ff9800;
}
