body, html {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  background: #666;
}

button {
  background: #8a4db3;
  background-image: -webkit-linear-gradient(top, #636363, #000000);
  background-image: -moz-linear-gradient(top, #636363, #000000);
  background-image: -ms-linear-gradient(top, #636363, #000000);
  background-image: -o-linear-gradient(top, #636363, #000000);
  background-image: linear-gradient(to bottom, #636363, #000000);
  -webkit-border-radius: 32;
  -moz-border-radius: 32;
  border-radius: 32px;
  font-family: Arial;
  color: #2b9988;
  font-size: 12px;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
}

button:hover {
  background: #2b9988;
  background-image: -webkit-linear-gradient(top, #2b9988, #363636);
  background-image: -moz-linear-gradient(top, #2b9988, #363636);
  background-image: -ms-linear-gradient(top, #2b9988, #363636);
  background-image: -o-linear-gradient(top, #2b9988, #363636);
  background-image: linear-gradient(to bottom, #2b9988, #363636);
  text-decoration: none;
  color: #eee;
  text-shadow: 0px 1px #8a4db3;
}

.smallButton {
  font-size: 10px;
  padding: 6px 8px 6px 8px;
}

.instructions .container h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 42px;
  font-weight: 600;
  color: #2b9988;
  text-shadow: 0px 1px #8a4db3;
}

.instructions {
  background-color: #363636;
  color: #8a4db3;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #2b9988;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #363636;
  text-shadow: 0px 1px #bbb;
  text-align: center;
  padding: 10px 6px;
  text-decoration: none;
}


/* Change the link color to #eee on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
  text-shadow: 0px 1px #8a4db3;
}

.topDate {
  font-family: 'Fredericka the Great', cursive;
  color: #8a4db3;
  text-shadow: 0px 1px #2b9988;
}
.purp {
  font-family: 'Fredericka the Great', cursive;
  color: #8a4db3;
  text-shadow: 0px 1px 2px #2b9988;
}
#nameFrame {
  background-color: #e3e3e3;
  padding: 8px;
  border-radius: 34px;
  float: right;
}
#boardLV {
  background-color: #3caa99;
}
#boardF {
  background-color: #3caa99;
}
#boardC {
  background-color: #3caa99;
}
