<div ng-controller="CompletedController">
  <div class="container">
    <h3>Way to go, Look what you've done!!</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Completed On</th>
            <th colspan="2">Notes</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in cc.tasks | orderBy : date">
            <td>{{task.taskname}}</td>
            <td>{{task.date | date: 'shortDate'}}</td>
            <td colspan="2">{{task.notes}}</td>
          </tr>
        </tbody>
      </table>
  </div>
