<div ng-controller="CompletedController">
  <div class="container">
    <h3>Way to go, Look what you've done!!</h3>
    <h2><span>The {{cc.userObject.userName}} Family</span></h2>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="task in cc.tasks | orderBy : date" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ task.taskname }}</h3>
            <h4>{{task.date | date: 'shortDate'}}</h4>
            <h4>{{ task.notes }}</h4>
          </div>
        </md-list-item>
      </md-content>
  </div>
</div>

<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Completed On</th>
      <th colspan="2">Notes</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="task in cc.tasks | orderBy : date">
      <td>{{task.taskname}}</td>
      <td>{{task.date | date: 'shortDate'}}</td>
      <td colspan="2">{{task.notes}}</td>
    </tr>
  </tbody>
</table> -->
