<div ng-controller="FormController">
  <div class="container" id="boardF">
    <h2 class="welcomePageText">Today is <span class="topDate">{{fc.top}}</span>.</h2>
    <h3>What's Next??</h3>
    <form>
      <!-- Task Name -->
      <md-content layout-gt-sm="row" layout-padding>
        <div>
          <md-input-container>
            <label>Task Name</label>
            <input type="text" ng-model="tasks.taskname">
          </md-input-container>
        </div>
      </md-content>
      <!-- Start Time -->
      <md-content layout-gt-sm="row" layout-padding>
        <div>
          <md-input-container>
            <label>Time</label>
            <input type="time" ng-model="tasks.time" />
          </md-input-container>
        </div>
      </md-content>
      <!-- Task Notes -->
      <md-input-container class="md-block">
        <label>Notes</label>
        <textarea ng-model="tasks.notes" md-maxlength="142" rows="4" md-select-on-focus></textarea>
      </md-input-container>
      <!-- Date-Picker -->
      <input type="checkbox" checklist-model="date1">{{fc.today}}
      <input type="checkbox" checklist-model="date2">{{fc.tomorrow}}
      <input type="checkbox" checklist-model="date3">{{fc.twoDays}}
      <input type="checkbox" checklist-model="date4">{{fc.threeDays}}
      <input type="checkbox" checklist-model="date5">{{fc.fourDays}}
      <input type="checkbox" checklist-model="date6">{{fc.fiveDays}}
      <input type="checkbox" checklist-model="date7">{{fc.sixDays}}
      <!-- submit button -->
    <a href="#/listview"><md-button ng-submit="fc.submitForm(tasks.id)">Submit Tasks</md-button></a>
</form>

</div>
