<h2>Form HTML Pop Up</h2>
<div class="container">
<!-- Task Name -->
<md-content layout-gt-sm="row" layout-padding>
   <div>
     <md-input-container>
       <label>Task Name</label>
       <input ng-model="user.title">
     </md-input-container>
   </div>
 </md-content>
<!-- Start Time -->
<md-content layout-gt-sm="row" layout-padding>
   <div>
     <md-input-container>
       <label>Start Time</label>
       <input ng-model="user.title">
     </md-input-container>
   </div>
 </md-content>
<!-- End Time -->
<md-content layout-gt-sm="row" layout-padding>
   <div>
     <md-input-container>
       <label>End Time</label>
       <input ng-model="user.title">
     </md-input-container>
   </div>
 </md-content>
<!-- Task Notes -->
<md-input-container class="md-block">
          <label>Notes</label>
          <textarea ng-model="user.notes" md-maxlength="142" rows="4" md-select-on-focus></textarea>
        </md-input-container>
<!-- Date-Picker -->
<input type="checkbox" ng-model="ctrl.user.agree">Today
<input type="checkbox" ng-model="ctrl.user.agree">Tomorrow
<input type="checkbox" ng-model="ctrl.user.agree">Friday
<input type="checkbox" ng-model="ctrl.user.agree">Saturday
<input type="checkbox" ng-model="ctrl.user.agree">Sunday
<input type="checkbox" ng-model="ctrl.user.agree">Monday
<input type="checkbox" ng-model="ctrl.user.agree">Tuesday
<md-button>Submit Tasks</md-button>
</div>
