<div ng-controller="ListViewController">
  <div class="container">
    <div layout="row" layout-align="center start">
    <md-button><a href="#/form">Add Task</a></md-button>
      </div>
    <div layout="row" layout-align="center start">
      <md-button ng-click="lvc.yesterday()">{{lvc.yesterday}}</md-button>
      <span>{{lvc.today}}</span>
      <md-button  ng-click="lvc.tomorrow()">{{lvc.tomorrow}}</md-button>
    </div>
      <!-- Tasks Table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Time</th>
            <th colspan="2">Notes</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in lvc.tasks">
            <td class="welcomePageText">{{task.taskname}}</td>
            <td class="welcomePageText">{{task.time}}</td>
            <td  class="welcomePageText"colspan="2">{{task.notes}}</td>
            <!-- Row-Buttons  -->
            <td>
              <md-button>Edit</md-button>
            </td>
            <td>
              <md-button ng-click="lvc.deleteTask(task.id)">Remove</md-button>
            </td>
            <td>
              <md-button>Complete!!</md-button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
