<div class="container">
  <div class="banner">
    <h1 class="title">What<span class="questions">D</span>ay<span class="questions">.</span>When<span class="questions">??</span></h1>
  </div>
  <p class="center">The week-long planer designed for the weak planner.</p>
  <p class="center">Add tasks by the day(s)</p>
  <p class="center">Or by the week.</p>
  <p class="center">To get started checkout todays tasks <a href="#/listview">HERE</a></p>
  <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
